@using Fzrain.Core.Domain

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured{
    <style>
        #page-tree {
            padding: 20px 20px 40px 30px;
            white-space: normal;
            word-break: break-all;
            overflow: hidden;
        }

        #page-tree .k-sprite {
        background-image:url(../../Content/web/treeview/icons-sprite.png);
    }

    .folder { background-position: 0 0; }
    .file { background-position: 0 -16px; }
    .image { background-position: 0 -32px; }
   
    </style>
}

<div id="page-nav" style="position :absolute;top :0;left :0;width:20%;height:100%;overflow :auto ;background:#f5f7f8;border-right:1px solid #ebecee;z-index :1">
    @(Html.Kendo().TreeView()
                .Name("page-tree")
        .Items(treeview => treeview.Add().Text("My Web Site")
            .SpriteCssClasses("folder")
            .Expanded(true)
            .Items(root =>
            {
                root.Add().Text("images")
                    .Expanded(true)
                    .SpriteCssClasses("folder")
                    .Items(images =>
                    {
                        images.Add().Text("logo.png")
                            .SpriteCssClasses("file");

                        images.Add().Text("body-back.png")
                            .SpriteCssClasses("file");

                        images.Add().Text("my-photo.jpg")
                            .SpriteCssClasses("file");
                    });

                root.Add().Text("resources")
                    .Expanded(true)
                    .SpriteCssClasses("folder")
                    .Items(resources =>
                    {
                        resources.Add().Text("pdf")
                            .Expanded(true)
                            .SpriteCssClasses("folder")
                            .Items(pdf =>
                            {
                                pdf.Add().Text("brochure.pdf")
                                    .SpriteCssClasses("file");

                                pdf.Add().Text("prices.pdf")
                                    .SpriteCssClasses("file");
                            });

                        resources.Add().Text("zip")
                            .SpriteCssClasses("file");
                    });

                root.Add().Text("about.html")
                    .SpriteCssClasses("file");

                root.Add().Text("contacts.html")
                    .SpriteCssClasses("file");

                root.Add().Text("index.html")
                    .SpriteCssClasses("file");

                root.Add().Text("portfolio.html")
                    .SpriteCssClasses("file");
            }))
    )

</div>

<div style="width:80%;background-color:#fff;line-height:1.5;position :absolute ;top:0;right :0;bottom :0;-webkit-box-sizing:border-box;">
    @(Html.Kendo().Grid<User>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(u => u.Id)
                 .HeaderTemplate("<input type='checkbox'  />")
                  .ClientTemplate("<input type='checkbox'  />")
                  .HtmlAttributes(new { style = "text-align: center" })
                  .Width(20);
                columns.Bound(u => u.Id).Width(30);
                columns.Bound(u => u.UserName).Width(100);
                columns.Bound(u => u.Password).Width(100);
                columns.Command(command => { command.Edit(); command.Destroy();    }).Width(160);
            })
            .ToolBar(toolbar => toolbar.Create().Text("新增"))
            .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("UserEdit").Window(c => c.Title("用户信息").Resizable(r => r.MinWidth(400)).Scrollable(true)))
            .Pageable(c => c.PageSizes(true).Messages(m => m.Next("下一页").ItemsPerPage("每页记录数")).Refresh(true))
            .Filterable()
            .Scrollable()
            .HtmlAttributes(new { style = "height:100%;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Events(events => events.Error("error_handler"))
                .Model(model => model.Id(u => u.Id))
                .Create(update => update.Action("EditingPopup_Create", "User"))
                    .Read(read => read.Action("EditingPopup_Read", "User"))
                    .Update(update => update.Action("EditingPopup_Update", "User"))
                    .Destroy(update => update.Action("EditingPopup_Destroy", "User"))
            )
    )
</div>




<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
