@{
    ViewBag.Title = "Home Page";
}
<div style="position :absolute;top :0;left :0;width:20%;height:100%;overflow :auto ;background:#f5f7f8;border-right:1px solid #ebecee;z-index :1"></div>

<div style="width:80%;background-color:#fff;line-height:1.5;position :absolute ;top:0;right :0;bottom :0;overflow :auto ;padding :15px 1em 0 3em;-webkit-box-sizing:border-box">
    
</div>