
<!DOCTYPE html>
<html class="responsive-index">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>FZRAIN</title>

    <link href="~/Content/indexPage/style.css" rel="stylesheet" />

</head>
<body>

    <header class="responsive-header">
        <h1><a>FZRAIN Cloud Develop Plamform</a></h1>      
        <div id="responsive-nav">
            <ul>
                <li><a href="/aspnet-mvc/responsive/grid">网站首页</a></li>
                <li><a href="/aspnet-mvc/responsive/scheduler">更新日志</a></li>
                <li><a href="/aspnet-mvc/responsive/chart">个人博客</a></li>
                <li><a href="/aspnet-mvc/responsive/responsivepanel">技术介绍</a></li>
                <li><a href="/aspnet-mvc/responsive/responsivepanel">项目演示</a></li>
            </ul>
          
        </div>
    </header>
    <div>

        <div class="responsive-section responsive-hero">
            <h2>项目简介</h2>
            <p>
                This demo showcases the basic responsive features of Kendo UI widgets.
                Select one of the widgets below to see how it handles different form factors.
            </p>
            <div class="responsive-widgets-container">
                <a href="/aspnet-mvc/responsive/Grid" class="responsive-widget">
                  
                    <h3>Grid</h3>
                </a>
                <a href="/aspnet-mvc/responsive/Scheduler" class="responsive-widget">
               
                    <h3>Scheduler</h3>
                </a>
                <a href="/aspnet-mvc/responsive/Chart" class="responsive-widget">
                   
                    <h3>Chart</h3>
                </a>
                <a href="/aspnet-mvc/responsive/ResponsivePanel" class="responsive-widget">
                    
                    <h3>ResponsivePanel</h3>
                </a>
            </div>
        </div>

    </div>

    <div class="responsive-section">
        <h2>包含技术</h2>
        <p>
            Asp.Net Mvc 5+
            <br/>
            <br />
            Entity Framework 6+
            <br />
            <br />
            Kendo UI
        </p>
       
        <a class="responsive-btn responsive-documentation-btn" href="http://docs.telerik.com/kendo-ui/using-kendo-in-responsive-web-pages#kendo-ui-and-media-queries">Read Documentation</a>
    </div>
    <div class="responsive-section responsive-pink-section">
        <h2>更新历史</h2>
        <p><font>2015-04-23 V1.0</font>&nbsp;更新首页</p>
        <p><font>2015-04-23 V1.0</font>&nbsp;更新首页</p>
        <p><font>2015-04-23 V1.0</font>&nbsp;更新首页</p>
        <p><font>2015-04-23 V1.0</font>&nbsp;更新首页</p>
        <p><font>2015-04-23 V1.0</font>&nbsp;更新首页</p>
        <p><font>2015-04-23 V1.0</font>&nbsp;更新首页</p>
        <p><font>2015-04-23 V1.0</font>&nbsp;更新首页</p>
        <p><font>2015-04-23 V1.0</font>&nbsp;更新首页</p>
    </div>
    <div class="responsive-section responsive-gray-section">
        <h2>是否开源？</h2>
        <a class="responsive-btn kendo-with-bootstrap-btn" href="http://demos.telerik.com/kendo-ui/bootstrap/">View On GitHub</a>
    </div>

    <div id="responsive-footer" class="responsive-section">
        <div class="copyright">
            <p>Copyrigh &copy; 2014-2015 Fzrain Inc. All rights reserved</p>
        </div>
    </div>
</body>
</html>
