
<!DOCTYPE html>
<html class="responsive-index">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>FZRAIN</title>

    <link href="~/Content/indexPage/style.css" rel="stylesheet" />

</head>
<body>

    <header class="responsive-header">
        <h1><a>FZRAIN Cloud Develop Plamform</a></h1>      
        <div id="responsive-nav">
            <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="/">更新日志</a></li>
                <li><a href="http://www.cnblogs.com/fzrain/">个人博客</a></li>
                <li><a href="/">技术介绍</a></li>
                <li><a href="/user">项目演示</a></li>
            </ul>
          
        </div>
    </header>
    <div>

        <div class="responsive-section responsive-hero">
            <h2>项目简介</h2>
            <p>
                出于学习的目的，在这里将记录我编程成长之路，这个项目将不断更新我所学到的技术，算是一个知识积累的地方。只希望自己能把学到技术运用到实际场景，让知识变成价值</p>
            <div class="responsive-widgets-container">
                <a href="/aspnet-mvc/responsive/Grid" class="responsive-widget">

                    <h3>权限系统</h3>
                </a>
                <a href="/aspnet-mvc/responsive/Scheduler" class="responsive-widget">
               
                    <h3>协同OA</h3>
                </a>
                <a href="/aspnet-mvc/responsive/Chart" class="responsive-widget">
                   
                    <h3>数据平台</h3>
                </a>
                <a href="/aspnet-mvc/responsive/ResponsivePanel" class="responsive-widget">
                    
                    <h3>工作流</h3>
                </a>
            </div>
        </div>

    </div>

    <div class="responsive-section">
        <h2>包含技术</h2>
        <p>
            Asp.Net Mvc 5
            <br/>
            <br />
            Entity Framework 6
            <br />
            <br />
	        Kendo UI
			<br />
			<br />
	        Autofac
			<br />
			<br />
			MSLocaldb
        </p>
       
        <a class="responsive-btn responsive-documentation-btn" href="/">详细介绍</a>
    </div>
    <div class="responsive-section responsive-purper-section">
	    <h2>当前版本:V1.0</h2>
	    <h3>更新说明</h3>
	    <br/>
		<br />
	    <p>	新增首页，重构代码</p>
		<a class="responsive-btn kendo-with-history-btn" href="/">历史更新</a>
    </div>
    <div class="responsive-section responsive-gray-section">
	    <h2>获取源码</h2>
	    <p>由于目前做的还不完善，所以只是提供源码，待以后成熟以后，考虑使用开源协议</p>
        <a class="responsive-btn kendo-with-bootstrap-btn" href="http://git.oschina.net/fzrain/FzrainFrameWork">View On GitHub</a>
    </div>

    <div id="responsive-footer" class="responsive-section">
        <div class="copyright">
            <p>Copyrigh &copy; 2014-2015 Fzrain Inc. All rights reserved</p>
        </div>
    </div>
</body>
</html>
