@model Fzrain.Core .Domain.User 

<div><span style=" margin:10px">用户名：</span> @Html.EditorFor(u => u.UserName)</div>
<div><span style=" margin:10px">密码：</span> @Html.EditorFor(u => u.Password )</div>
