@model Fzrain.Core .Domain.User 

<div style="margin:10px"><span style="margin:10px">用户名：</span> @Html.EditorFor(u => u.UserName)</div>
<div style="margin:10px"><span style="margin:10px">密码：</span> @Html.EditorFor(u => u.Password)</div>

