
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div style="width:45%">
        <div class="demo-section">
            @(Html.Kendo().Upload()
            .Name("files")
            .Async(a => a
                .Save("Save", "Demo")
                .Remove("Remove", "Demo")
                .AutoUpload(true)
            )
            )
        </div>
    </div>
