
@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload</title>
</head>
<body>
    <div style="width:45%">
        <div class="demo-section">
            @(Html.Kendo().Upload()
            .Name("files")
            .Async(a => a
                .Save("Save", "Demo")
                .Remove("Remove", "Demo")
                .AutoUpload(true)
            )
            )
        </div>
    </div>
</body>
</html>
