@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
   

    .mainleft div {
        background-repeat: repeat-y;
        height: 60px;
        color: white;
        text-align: center;
        line-height: 60px;
    }

        .mainleft div:hover {
            background-color: #53b3d9;
            color: white;
            height: 60px;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
        }
</style>
<div class="mainleft" style="height: 100%; background: #35393a;">

    <div> @Html.ActionLink("战绩首页", "index")</div>
    <div>@Html.ActionLink("英雄统计", "ShowChampionInfo")</div>
    <div>@Html.ActionLink("成长曲线", "MyPerformance")</div>
    <div>乱斗神榜</div>
    <div>阵容分析</div>

</div>
@RenderBody()
