.n3157 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: 0px;
    background-position-y: -434px;
}

.n3089 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: -186px;
    background-position-y: -310px;
}
.n3151 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: -93px;
    background-position-y: -403px;
}
.n3158 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: -31px;
    background-position-y: -434px;
}
.n3174 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: -62px;
    background-position-y: -465px;
}
.n3279 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: -31px; 
    background-position-y: -620px;
}
.n3143 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: -279px; 
    background-position-y: -403px;
}
.n3077 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: -248px; 
    background-position-y: -279px;
}
.n3116 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: -155px; 
    background-position-y: -341px;
}
.n2004 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: -248px;
    background-position-y: -93px;
}
.n2003 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: -217px;
    background-position-y: -93px;
}
.n3047 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: -62px;
    background-position-y: -217px;
}
.n3068 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: -279px;
    background-position-y: -248px;
}
.n1011 {
    background-image: url("../../Content/ZhuangBei.jpg");
    background-position-x: -248px;
    background-position-y: 0px;
}
.n3070{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -31px;
  background-position-y: -248px;
}
.n3211{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -527px;
}
.n3027{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -279px;
  background-position-y: -186px;
}
.n1056{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -279px;
  background-position-y: -62px;
}
.n3110{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -31px;
  background-position-y: -341px;
}
.n3259{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -279px;
  background-position-y: -558px;
}
.n3128{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -372px;
}
.n3020{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -124px;
  background-position-y: -155px;
}
.n1026{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -0px;
}
.n1052{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -124px;
  background-position-y: -31px;
}
.n3087{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -155px;
  background-position-y: -279px;
}
.n1038{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -279px;
  background-position-y: -31px;
}
.n1037{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -248px;
  background-position-y: -31px;
}
.n3035{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -93px;
  background-position-y: -186px;
}
.n3006{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -279px;
  background-position-y: -155px;
}
.n3181{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -155px;
  background-position-y: -465px;
}
.n3001{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -155px;
  background-position-y: -124px;
}
.n1028{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -62px;
  background-position-y: -0px;
}
.n3065{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -217px;
  background-position-y: -248px;
}
.n3078{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -279px;
  background-position-y: -279px;
}
.n1055{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -248px;
  background-position-y: -62px;
}
.n3153{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -186px;
  background-position-y: -434px;
}
.n3140{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -186px;
  background-position-y: -403px;
}
.n3142{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -248px;
  background-position-y: -403px;
}
.n1033{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -186px;
  background-position-y: -31px;
}
.n3111{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -62px;
  background-position-y: -341px;
}
.n3134{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -62px;
  background-position-y: -372px;
}
.n3191{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -62px;
  background-position-y: -496px;
}
.n3135{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -93px;
  background-position-y: -372px;
}
.n3057{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -155px;
  background-position-y: -248px;
}
.n1027{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -31px;
  background-position-y: -0px;
}
.n3086{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -124px;
  background-position-y: -279px;
}
.n3252{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -124px;
  background-position-y: -527px;
}
.n3100{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -124px;
  background-position-y: -310px;
}
.n3113{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -124px;
  background-position-y: -744px;
}
.n1001{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -155px;
  background-position-y: -0px;
}
.n3085{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -93px;
  background-position-y: -279px;
}
.n3031{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -62px;
  background-position-y: -186px;
}
.n1036{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -217px;
  background-position-y: -31px;
}
.n3009{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -62px;
  background-position-y: -155px;
}
.n3146{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -62px;
  background-position-y: -403px;
}
.n1029{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -93px;
  background-position-y: -0px;
}
.n3190{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -31px;
  background-position-y: -496px;
}
.n3042{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -279px;
  background-position-y: -217px;
}
.n1042{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -31px;
  background-position-y: -31px;
}
.n3003{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -155px;
}
.n3024{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -186px;
  background-position-y: -186px;
}
.n2051{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -93px;
  background-position-y: -124px;
}
.n3025{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -217px;
  background-position-y: -186px;
}
.n3040{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -186px;
  background-position-y: -217px;
}
.n1058{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -31px;
  background-position-y: -62px;
}
.n3028{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -186px;
}
.n2010{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -93px;
}
.n3022{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -155px;
  background-position-y: -155px;
}
.n3067{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -248px;
  background-position-y: -248px;
}
.n1031{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -124px;
  background-position-y: -0px;
}
.n3117{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -186px;
  background-position-y: -372px;
}
.n1004{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -186px;
  background-position-y: -0px;
}
.n3108{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -341px;
}
.n1057{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -62px;
}
.n3165{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -93px;
  background-position-y: -434px;
}
.n3508{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -155px;
  background-position-y: -744px;
}
.n3046{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -31px;
  background-position-y: -217px;
}
.n3301{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -31px;
  background-position-y: -310px;
}
.n3115{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -124px;
  background-position-y: -341px;
}
.n3102{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -186px;
  background-position-y: -341px;
}
.n3004{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -217px;
  background-position-y: -155px;
}
.n3071{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -62px;
  background-position-y: -248px;
}
.n1051{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -93px;
  background-position-y: -31px;
}
.n3044{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -217px;
}
.n3092{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -279px;
  background-position-y: -310px;
}
.n3801{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -248px;
  background-position-y: -837px;
}
.n3074{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -186px;
  background-position-y: -279px;
}
.n3082{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -279px;
}
.n3136{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -124px;
  background-position-y: -372px;
}
.n3152{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -124px;
  background-position-y: -403px;
}
.n3172{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -465px;
}
.n3101{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -155px;
  background-position-y: -310px;
}
.n3155{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -248px;
  background-position-y: -434px;
}
.n3184{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -186px;
  background-position-y: -496px;
}
.n3156{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -434px;
  background-position-y: -279px;
}
.n3114{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -93px;
  background-position-y: -744px;
}
.n1053{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -155px;
  background-position-y: -31px;
}
.n3105{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -248px;
  background-position-y: -341px;
}
.n3023{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -155px;
  background-position-y: -186px;
}
.n3145{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -31px;
  background-position-y: -403px;
}
.n3096{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -31px;
  background-position-y: -310px;
}
.n3257{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -217px;
  background-position-y: -558px;
}
.n3010{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -93px;
  background-position-y: -155px;
}
.n3269{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -31px;
  background-position-y: -589px;
}
.n3075{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -217px;
  background-position-y: -279px;
}
.n3139{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -155px;
  background-position-y: -403px;
}
.n3277{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -279px;
  background-position-y: -620px;
}
.n1043{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -62px;
  background-position-y: -31px;
}
.n3262{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -93px;
  background-position-y: -558px;
}
.n3091{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -248px;
  background-position-y: -310px;
}
.n3800{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -217px;
  background-position-y: -837px;
}
.n2053{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -31px;
  background-position-y: -775px;
}
.n1006{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -217px;
  background-position-y: -0px;
}
.n3187{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -279px;
  background-position-y: -496px;
}
.n3097{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -62px;
  background-position-y: -310px;
}
.n3197{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -124px;
  background-position-y: -496px;
}
.n3112{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -93px;
  background-position-y: -341px;
}
.n3264{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -186px;
  background-position-y: -589px;
}
.n3144{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -403px;
}
.n1018{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -279px;
  background-position-y: -0px;
}
.n1054{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -124px;
  background-position-y: -62px;
}
.n3069{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -248px;
}
.n3266{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -589px;
  background-position-y: -248px;
}
.n3124{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -279px;
  background-position-y: -372px;
}
.n3274{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -186px;
  background-position-y: -620px;
}
.n3005{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -248px;
  background-position-y: -155px;
}
.n3098{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -93px;
  background-position-y: -310px;
}
.n3185{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -217px;
  background-position-y: -496px;
}
.n3093{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -0px;
  background-position-y: -310px;
}
.n3050{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -124px;
  background-position-y: -217px;
}
.n3131{
  background-image: url("../../Content/ZhuangBei.jpg");
  background-position-x: -31px;
  background-position-y: -372px;
}






