<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net453" userInstalled="true" />
  <package id="Autofac" version="3.5.2" targetFramework="net453" userInstalled="true" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net452" userInstalled="true" />
  <package id="EntityFramework.zh-Hans" version="6.1.2" targetFramework="net453" userInstalled="true" />
  <package id="JDynamic" version="1.2.0.0" targetFramework="net453" userInstalled="true" />
  <package id="jQuery" version="1.10.2" targetFramework="net452" userInstalled="true" />
  <package id="jquery.cookie" version="1.3.1" targetFramework="net453" userInstalled="true" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" userInstalled="true" />
  <package id="MiniProfiler" version="3.1.1.140" targetFramework="net452" userInstalled="true" />
  <package id="MiniProfiler.EF6" version="3.0.11" targetFramework="net452" userInstalled="true" />
  <package id="MiniProfiler.Mvc4" version="3.0.11" targetFramework="net453" userInstalled="true" />
  <package id="Modernizr" version="2.6.2" targetFramework="net452" userInstalled="true" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net452" userInstalled="true" />
  <package id="Respond" version="1.2.0" targetFramework="net452" userInstalled="true" />
  <package id="WebGrease" version="1.5.2" targetFramework="net452" userInstalled="true" />
</packages>